/*** layout ***/

body {
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
}

#header {
    color: black;
    text-align: center;
    padding-bottom: 5px;
}

.section-banner .container {
    padding-top: 34px !important;
}

#title {
    margin: 12px;
}

.header-menu-center #title {
    margin-bottom: 18px;
}

#title .mz_wysiwyg {
    font-family: Georgia, serif;
    font-size: 4.38rem;
    color: #111111;
}

#bottom .mz_wysiwyg {
    color: #CCCCCC;
    float: none;
}

#bottom a {
    color: #CCCCCC;
    text-decoration: underline
}

#bottom .mz_social a {
    fill: #CCCCCC;
}

#bottom a:hover {
    color: #555555;
}

#social {
    float: none;
    clear: both;
    margin-left: 0px;
}

/* section colors */

.section-bg-1 {
    background-color: #f6f7f9;
}

.section-bg-2 {
    background-color: #d62828;
}

.section-bg-3 {
    background-color: #111111;
}

/* language select */

#languages li > a {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    margin: 1px;
    padding: 5px;
}

#languages li.selected > a,
#languages li > a:hover {
    color: #FF0000;
}

/* menu */

#menu > ul > li {
    margin: 0px 4px;
}

#menu > ul > li > a:hover, #menu > ul > li.selected > a {
    color: #FF0000;
}

#menu > ul > li > a {
    padding: 0.63rem;
}

#menu ul li a {
    font-family: Georgia, serif;
    font-size: 1.50rem;
    text-decoration: none;
    color: #111111;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

#menu ul ul {
    border-radius: 0;
    box-shadow: 1px 1px 10px -1px #636363;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #CCCCCC;
}

#menu ul ul li:hover {
    border: 0;
}

#menu ul ul li a {
    padding: 15px 20px;
    color: #111111;
}

#menu ul ul li a:hover {
    color: #FF0000;
}

#menu {
    padding: 7px 0px !important;
    border-top: 4px double;
    border-bottom: 4px double;
    border-color: #CCCCCC;
}

/* submenu */

#submenu {
    font-size: 1.19rem;
}

#submenu a {
    color: #111111;
}

#submenu li.selected > a,
#submenu li:hover > a {
    color: #FF0000;
}

/* special boxes - bigbar */

#bigbar {
    max-width: 100%;
    position: relative;
}

#bigbar div.moze-banner {
    background-position: center center;
    background-size: cover;
}

.bigbar-overlay-container {
    position: relative;
    min-height: 388px;
}

#bigbar-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 4px 4px;
    width: 100%;
}

.bigbar-h1 .mz_wysiwyg {
    color: #FFFFFF;
    font-size: 3.06rem;
    line-height: 1;
}

.bigbar-h2 .mz_wysiwyg {
    color: #FFFFFF;
    margin-top: 7px;
}

#bigbar .mz_editable h1 {
    margin: 0px;
    color: black;
}

#bigbar .mz_editable p {
    color: black;
}

/* special boxes - sidebar */

@media screen and (max-width: 600px) {
    .bigbar-h1 .mz_wysiwyg {
        font-size: 2.2rem;
    }
}